@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
img.logo {
  max-height: 60px;
}
@media screen and (max-width: 700px){
  .nav {
    display: none;
  }
  div.card.contacts.visible {
    margin: 0;
    padding: 0;
    width: 100%;
    height: max-content;
  }
  span.card.about.visible {
    margin: 0;
    padding: 0;
    width: 100%;
    height: max-content;
  }
  span.card.resume.visible {
    margin: 0;
    padding: 0;
    width: 100%;
    height: max-content;
  }
  div.body {
    height: max-content;
    .mobile {
      display: block;
    }
  }
  div.contacts-content {
    display: block;
  }
  span.contact {
    width: 100vh;
  }
  span.google-form {
    max-width: 400px;
  }
}
.nav {
  background-color:rgb(0, 171, 107);
  height: 100%;
  width: 10em;
  min-width: 15%;
  margin-top: -15px;
  .inactive {
    color: #a5dec7;
  }
  .menu-icon {
    display: block;
    color: #78cfac;
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .resume {
    margin-left: 45%;
    fill: #78cfac;
  }
  .profile {
    width: 70px;
    margin-top: 15%;
    margin-bottom: 30%;
    border-radius: 50%;
  }
  hr {
    border: 0.5px solid #27b57e;
  }
  button {
    cursor: pointer;
    border: none;
    color: white;
    font-size: large;
    font-weight: bold;
    background-color:rgb(0, 171, 107);
  }
}
.body {
  background-color: #35b5b1;
  display: flex;
  height: 100vh;
  .mobile {
    display: none;
  }
}
.about {
  overflow-y: scroll;
  position: relative;
  margin: 5% 5% 5% 5%;
  width: 80%;
  height: 70vh;
  .social-icon {
    width: 20px !important;
    height: 20px !important;
  }
  li {
    display: inline;
    margin-right: 5px;
  }
  .profile {
    border-radius: 4px;
    width: 40%;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .software-engineer {
    font-weight: bold;
  }
  .content {
    display: inline;
    width: 55%;
    margin-left: 4%;
    text-align: left;
    font-family: sans-serif;
  }
  .picture {
    margin: 1px;
    display: block;
  }
  .technologies {
    width: 100%;
    text-align: left;
  }
  .small-bold {
    font-size: small;
    font-weight: bold;
  }
}
.contacts {
  width: 52%;
  height: 60vh;
  overflow-y: scroll;
  position: relative;
  margin: 10% 10% 10% 20%;
  overflow-x: scroll;
  li {
    display: inline;
    margin-right: 5px;
    .social-icon {
      width: 20px !important;
      height: 20px !important;
    }
  }
  .contact-head {
    color: #222;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 1em;
    font-size: x-large;
    border-left: #35b5b1;
  }
  .contacts-content {
    text-align: left;
  }
  @media screen and (min-width: 700px) {
    .contacts-content {
      display: inline-flex;
      width: 100%;
    }
  }
  .menu-icon {
    color: rgb(0, 171, 107);
    vertical-align: middle;
    padding: 0.7em;
  }
}
.resume {
  width: 80%;
  height: 70vh;
  overflow-y: scroll;
  position: relative;
  margin: 5% 5% 5% 5%;
  .menu-icon {
    color: #78cfac;
    vertical-align: middle;
  }
  .subject-school {
    margin-left: 2em;
  }
  .year {
    background-color:rgb(0, 171, 107);
    margin-left: 1em;
    color: white;
    padding: 0.3em 0.5em 0.3em 1em;
  }
  .referee-name {
    color: #222222;
    font-size: small;
    margin-left: 1em;
  }
  .resume-head {
    color: #222;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1.5em;
    width: 30%;
    margin-bottom: 1em;
    font-size: x-large;
    border-left: #35b5b1;
  }
  .resume-content {
    text-align: left;
    width: 100%;
  }
  @media screen and (min-width: 700px) {
    .resume-content {
      display: inline-flex;
    }
  }
  .referees{
    width: 100em;
  }
  .experience {
    width: 100em;
  }
  .education {
    width: 100em;
  }
  .subject {
    font-weight: bold;
    color: #616161;
  }
  .school {
    font-size: 12px;
    color: #35b5b1;
  }
  .job-description {
    color: #a5a5a5;
  }
}
.title {
  color: #eee;
  font-weight: bolder;
}
textarea {
  border: none;
  resize: none
}
textarea:focus {
  outline: none ;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom:1px solid #26a699;
}
.field {
  border-bottom: none !important;
}
.google-form {
  margin-right: 1em;
  max-width: 400px;
  margin-left: 4em;
}
.add-margin {
  margin: 2%;
}
.not-visible {
  display: none;
}

li.popup {
  height: 0;
  color: #fff;
  position: relative;
  cursor: pointer;

  &:after {
    content: attr(data-popuptext);
    color: black;
    margin-top: 2em;
    background: lightgrey;
    border-radius: 3px;
    opacity: 0;
    top: 0;
    left: 0;
    font-size: 8px;
    position: absolute;
    transition: 500ms ease;
    white-space: nowrap;
    max-height: 0;
  }

  &:hover:after {
    opacity: 1;
    top: 1.2em;
    max-height: 200px;
    padding: .4em;
  }
}
//Mobile navigation bar
.mobile-nav {
  overflow: hidden;
  background-color: white;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  .mobile-active {
    background-color: #ddd;
    color: black;
  }
  a {
    float: left;
    color: rgb(0, 171, 107);
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
  }
  button {
    float: left;
    color: rgb(0, 171, 107);
    padding: 14px 16px;
    background-color: white;
    text-decoration: none;
    font-size: 17px;
    border: none;
  }
  button:hover {
    background-color: #ddd;
    color: black;
  }
  #my-links {
    display: block;
  }
  a:hover {
    background-color: #ddd;
    color: black;
  }
  .prof {
    border-radius: 50%;
  }
}
.popup {
  img {
    height: 20px;
    vertical-align: middle;
  }
}
div.card.test {
  content: '';
  height: 50px;
  width: 50%;
  border: 1px;
  z-index: 1;
  box-shadow: none;
  display: inline-flex;
  button {
    cursor: pointer;
    border: none;
    background-color: white;
    margin-right: -2px;
  }
  input:focus {
    border-bottom: none!important;
    box-shadow: none!important;
  }
  input {
    border-bottom: none!important;
  }
}
div.card.before {
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: -25px;
  box-shadow: none;
}
div.card.after{
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -25px;
  box-shadow: none;
  .material-icons {
    border-radius: 50%;
  }
}
.div-main {
  width: 100%;
  display: inline-flex;
  margin-left: 30%;
  margin-top: 40vh;
  box-shadow: none;
}